.selected-date {
  background-color: orange !important; /* 선택한 날짜의 배경을 오렌지로 변경 */
  color: white !important; /* 텍스트 색상도 변경 */
}

.fc-day-sun a {
  color: red;
}

.fc-day-sat a {
  color: orange;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 10px 20px;
  border: orange;
  font-size: 12px;
  font-weight: 500;
  background-color: orange;
  border-radius: 20px;
}

.fc .fc-button {
  background-color: transparent;
  border: none;
}

.fc .fc-button:hover {
  background-color: orange;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
  border: none;
  box-shadow: none;
}

.fc .fc-today-button:disabled {
  background-color: white;
  color: orange;
}
